<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel='stylesheet' href='bower_components/md-date-time/dist/md-date-time.css'>
  <link rel="stylesheet" href="bower_components/lumx/dist/lumx.css">
  <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto:300,400,500,700">
  <link rel="stylesheet" href="/bower_components/angular-google-places-autocomplete/src/autocomplete.css">
  <base href="/">
</head>

<body layout="column">
    <md-toolbar md-theme="docs-dark" class="" md-scroll-shrink layout-padding  ng-controller="HomeCtrl" >
        <div class="md-toolbar-tools" layout="row">
            <a href="/Home"><img src="logo.png"></a>
            <span flex></span>
                <a href="/list"><md-button class="" aria-label="More">
                    MY ORDERS
                </md-button></a>
                <md-button ng-href="/logout" ng-show="$root.currentUser">Logout</md-button>
        </div>
    </md-toolbar>
    <div ui-view ></div>
    <div ng-controller="HomeCtrl">
        <md-sidenav md-component-id="menu" class="md-sidenav-right">
            <md-toolbar md-theme="deep-orange">
            <h2 class="md-toolbar-tools">Menu</h2>
            </md-toolbar>
            <md-list-item ng-click="go('/list')">
                <md-icon>swap_vertical_circle</md-icon>
                <p> ORDER LOG </p>
            </md-list-item>
            <md-list-item ng-click="go('/profile')">
                <md-icon>portrait</md-icon>
                <p> MY PROFILE </p>
            </md-list-item>
            <md-list-item ng-click="go('/list')">
                <md-icon>menu</md-icon>
                <p> UNDERSTAND TRANSPORTER </p>
            </md-list-item>
            <md-list-item ng-click="go('/help')">
                <md-icon>info</md-icon>
                <p> HELP </p>
            </md-list-item>
            <md-list-item ng-click="go('/logout')">
                <md-icon>power_settings_new</md-icon>
                <p> LOGOUT </p>
            </md-list-item>
        </md-sidenav>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/velocity/velocity.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/lumx/dist/lumx.js"></script>
    <script src='/bower_components/md-date-time/dist/md-date-time.js'></script>
    <script src='/bower_components/lodash/lodash[.min].js'></script>
    <script src='/bower_components/angular-google-maps/angular-google-maps[.min].js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="../lib/.meteor/local/bower/angular-google-places-autocomplete/src/autocomplete.js"></script>
</body>
