md-toolbar md-icon.md-default-theme {
  color: white; }
  .time-date > .control > .slider > .date-control {
      /* hide overflow-x on Firefox */
      overflow: hidden;
  }

  /* back/forward arrows */
  .title .md-button {
      min-width: 0;
  }

  .time-date > .control > .slider > .date-control > .headers {
      margin-top: 0;
  }

  /* date cells */
  .time-date > .control > .slider > .date-control .day-cell {
      min-height: 0;
      min-width: 0;
      margin: 0;
      padding: 0;
  }

  /* switch control buttons */
  .time-date > .control > .slider > .switch-control {
      margin: 0;
      min-width: 0;
      font-size: 18px;
  }

 .angular-google-map-container {
    height: 300px;
    width: 1200px;
  }


   md-grid-list {
    margin: 8px; }
   .gray {
    background: #f5f5f5; }
   .green {
    background: #b9f6ca; }
   .yellow {
    background: #ffff8d; }
   .blue {
    background: #84ffff; }
   .purple {
    background: #b388ff; }
   .red {
    background: #ff8a80; }
   md-grid-tile {
    transition: all 400ms ease-out 50ms; }
 .welcome {
      background: #fff;
      color: #3F51B5;
      margin: 20px;
      padding: 30px;
      height:500px;}
.btn1 {
        color : rgb(49, 46, 46);
        background-color: rgba(255, 222, 121, 0.96);
        border-radius: 10px 0 0 10px;
        font-size: 16px;
}
