<md-content md-theme="docs-dark" layout-padding>
    <md-whiteframe layout="row" ng-hide="$root.currentUser || $root.loggingIn" class="md-whiteframe-z1 welcome" layout-align="center center" layout-wrap>
        <span flex="15"></span>
        <div flex="25" text-align="right">
            <h3>Welcome to Transporter</h3>
        </div>
        <div layout="row" layout-align="start center" flex="25">
            <md-button class="btn1" ng-href="/login" ng-hide="$root.currentUser">Login</md-button>
            <h2>/</h2>
            <md-button class="btn1" ng-href="/register" ng-hide="$root.currentUser">Sign up</md-button>
        </div>
        <div flex="35">
            <h3>And start Ferrying!</h3>
        </div>
  </md-whiteframe>
  <div layout="row">
    <div ng-show="$root.currentUser" layout="column" layout-sm="column" layout-margin layout-fill layout-wrap flex>
      <div layout="row">
        <div flex>
        <md-input-container>
            <label>Ship From</label>
            <input ng-model="newOrder.from">
        </md-input-container>
        </div>
        <div flex>
        <md-input-container>
            <label>Ship To</label>
            <input ng-model="newOrder.to">
        </md-input-container>
        </div>
     </div>
        <!--input type="text" g-places-autocomplete ng-model="newOrder.from" /-->
      <div layout="row" layout-wrap>
        <div flex="50">
        <md-input-container ng-click="onShow()">
            <label>Select Date</label>
            <input type="date" name="input" ng-model="newOrder.date"
       placeholder="yyyy-MM-dd" min="2013-01-01" max="2050-12-31" required />
        </md-input-container>
        <!--md-button ng-click="onShow()" class="md-icon"><md-icon>today</md-icon></md-button-->
       </div>
        <div flex="50">
        <md-input-container>
            <label>Freight</label>
            <input ng-model="newOrder.freight">
        </md-input-container>
        </div>
        <time-date-picker ng-show="myvalue" on-cancel="onClose()" on-save="onSave($value)" display-mode="date"  orientation="" ng-model="newOrder.date"></time-date-picker>
        <section ng-show="myvalue3" layout="row" layout-sm="column" layout-align="center center">
            <md-button ng-click="showpreConfirm()" class="md-icon md-raised md-primary">GO<md-icon>chevron_right</md-icon></md-button>
        </section>
     </div>
    <div ng-show="myvalue2" layout="row" layout-wrap>
            <md-card class="md-card1">
                <!--img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"-->
                <md-card-content>
                    <h2 class="md-title">The Types of Vehicles available on the Route</h2>
                    <div layout="row" layout-align="" flex="100">
                    <div flex>
                        <md-list>
                            <md-list-item ng-click="imageChange()" ng-show="imgchange" ng-model="newOrder.trucki" >
                                <img class="truck-icon" src="truck.png">
                                <div class="md-list-item-text">
                                    <h3>4 wheel 5 tonner</h3>
                                </div>
                            </md-list-item>
                            <md-list-item ng-click="imageBring()" ng-show="imgbring" ng-model="newOrder.trucki" >
                                <img  class="truck-icon1" src="truck.png">
                                <div class="md-list-item-text">
                                    <h3>4 wheel 5 tonner</h3>
                                </div>
                            </md-list-item>
                            <md-list-item ng-click="imageChange1()" ng-show="imgchange1" ng-model="newOrder.trucki1" >
                                <img class="truck-icon" src="md.png">
                                <div class="md-list-item-text">
                                    <h3>8 wheel 10 tonner</h3>
                                </div>
                            </md-list-item>
                            <md-list-item ng-click="imageBring1()" ng-show="imgbring1" ng-model="newOrder.trucki1" >
                                <img class="truck-icon1" src="md.png">
                                <div class="md-list-item-text">
                                    <h3>8 wheel 10 tonner</h3>
                                </div>
                            </md-list-item>
                        </md-list>
                     </div>
                     <div flex>
                        <md-list>
                            <md-list-item ng-click="imageChange2()" ng-show="imgchange2" ng-model="newOrder.trucki2" >
                                <img class="truck-icon" src="lg.png">
                                <div class="md-list-item-text">
                                    <h3>12 wheel 15 tonner</h3>
                                </div>
                            </md-list-item>
                            <md-list-item ng-click="imageBring2()" ng-show="imgbring2" ng-model="newOrder.trucki2" >
                                <img class="truck-icon1" src="lg.png">
                                <div class="md-list-item-text">
                                    <h3>12 wheel 15 tonner</h3>
                                </div>
                            </md-list-item>
                            <md-list-item ng-click="imageChange3()" ng-show="imgchange3" ng-model="newOrder.trucki3" >
                                <img class="truck-icon" src="xl.png">
                                <div class="md-list-item-text">
                                    <h3>16 wheel 20 tonner</h3>
                                </div>
                            </md-list-item>
                            <md-list-item ng-click="imageBring3()" ng-show="imgbring3" ng-model="newOrder.trucki3" >
                                <img class="truck-icon1" src="xl.png">
                                <div class="md-list-item-text">
                                    <h3>16 wheel 20 tonner</h3>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                        <!--div >
                            <md-checkbox  class="color1" ng-model="newOrder.truck" aria-label="Checkbox 1">
                                {{ data.cb1 }}  <img class="truck-icon" src="truck.png"> 4-wheeler 5 tonnes
                            </md-checkbox>
                        </div>
                        <div>
                            <md-checkbox  class="color1" ng-model="newOrder.truck1" aria-label="Checkbox 1">
                                6-wheeler 10 tonnes {{ data.cb1 }} <img class="truck-icon" src="truck.png">
                            </md-checkbox>
                        </div>
                        <div>
                            <md-checkbox class="color1"  ng-model="newOrder.truck2" aria-label="Checkbox 1">
                                8 wheeler 15 tonnes {{ data.cb1 }} <img class="truck-icon" src="truck.png">
                            </md-checkbox>
                        </div>
                        <div>
                            <md-checkbox class="color1"  ng-model="newOrder.truck3" aria-label="Checkbox 1">
                                12 wheeler 20 tonnes {{ data.cb1 }} <img class="truck-icon" src="truck.png">
                            </md-checkbox>
                        </div-->
                    </div>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button ng-show="myvalue5" ng-click="confirmShow()" class="md-raised md-primary">CONFIRM</md-button>
                    <div ng-show="myvalue4"><h2>[PRICE DISPLAY]</h2></div>
                    <md-button ng-show="myvalue4" ng-click="addOrder(newOrder);newOrder='';" class="md-raised md-primary">TRANSPORT</md-button>
                    <md-button ng-show="myvalue4" ng-click="'';showAdvanced($event);" class="md-raised md-primary">CALL & BOOK</md-button>
                </div>
            </md-card>
        <!--div ng-show="myvalue5" layout="row" layout-wrap flex="100">
            <div layout="row" layout-sm="column" layout-align="center center" flex="50">
                <md-button ng-click="confirmShow()" class="md-raised md-primary">CONFIRM</md-button>
            </div>
       </div-->
        <!--md-input-container flex ="25">
            <label>Upload Address</label>
            <textarea ng-model="newOrder.up" columns="1" ></textarea>
        </md-input-container>
        <md-input-container flex = "25">
            <label>Deliver At</label>
            <textarea ng-model="newOrder.dn" columns="1" ></textarea>
        </md-input-container-->
    </div>
   </div>
   <div class="" flex>
       <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false" options="options">
           <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                     geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable"></ui-gmap-polyline>
       </ui-gmap-google-map>
      </div>
   </div>
</md-content>
