<md-content class="md-padding">
    <md-tabs class="">
      <md-tab id="tab1">
        <md-tab-label>Reference</md-tab-label>
        <md-tab-body>
            <md-card >
                <md-card-content >
                    <h2 class="md-title">{{order.from}} to {{order.to}}</h2>
                    <br/>
                    <p>
                        Order Number: {{order._id}}
                    </p>
                    <p>
                        Date of transport: {{order.date}}
                    </p>
                    <p>
                        Freight Weight: {{order.freight}}
                    </p>
                    <br/>
                    <md-input-container flex>
                        <label>Upload Address</label>
                        <textarea ng-model="order.up" columns="1" md-maxlength="200"></textarea>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Deliver At</label>
                        <textarea ng-model="order.dn" columns="1" md-maxlength="150"></textarea>
                    </md-input-container>
                </md-card-content>
                <section layout="row" layout-sm="column" layout-align="center center">
                    <md-button class="md-raised md-primary">SAVE</md-button>
                </section>
            </md-card>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2" ng-click="">
        <md-tab-label>Tracking</md-tab-label>
        <md-tab-body>
            <md-list-item class="md-3-line" ng-repeat="todo in todos">
                <md-button class="md-icon-button md-accent" aria-label="Favorite">
                    <md-icon>looks_one</md-icon>
                </md-button>
                <div class="md-list-item-text">
                    <h3>{{ todo.checkpoint }}</h3>
                    <h4>{{ todo.date_time }}</h4>
                    <p>{{ todo.next_checkpoint }}</p>
                </div>
       </md-list-item>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label>Payments</md-tab-label>
        <md-tab-body>
            <md-grid-list
                md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                md-row-height-gt-md="1:1" md-row-height="2:2"
                md-gutter="12px" md-gutter-gt-sm="8px" >
            <md-grid-tile class="yellow"
                md-rowspan="3" md-colspan="2" md-colspan-sm="1">
                <img src="https://cratejoy.zendesk.com/hc/en-us/article_attachments/200751105/stripe-logo__1_.png" />
              <md-grid-tile-footer>
                <h3>STRIPE BASED PAYMENT</h3>
              </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="gray"
                md-rowspan="3" md-colspan="2" md-colspan-sm="1">
                    <img src="http://limeshot.com/images/blog/euro-logo.png" />
              <md-grid-tile-footer>
                <h3>PAY ON DEFFERALS</h3>
              </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="green"
                md-rowspan="3" md-colspan="2" md-colspan-sm="1">
                <img src="http://www.logotypes101.com/logos/610/296A7B6BCE59A7F2BAD9ABE980775612/pp_h_pms.png"/>
              <md-grid-tile-footer>
                <h3>PayPal!</h3>
              </md-grid-tile-footer>
            </md-grid-tile>
          </md-grid-list>
        </md-tab-body>
      </md-tab>
    </md-tabs>
</md-content>
