<md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="order in orders">
        <div class="md-list-item-text">
        <a href="/list/{{order._id}}"><h2>ORDER NUMBER: {{order._id}}</h2></a>
         <div layout="row">
         <div layout="column" layout-align="space-between start" flex layout-padding>
             <div>
                 FREIGHT: {{order.freight}}
             </div>
             <div>
                 FROM: {{ order.from }}
             </div>
             <div>
                 TO: {{ order.to }}
             </div>
             <h3>Date of Booking: {{order.date}}</h3>
         </div>
        <div layout="column" layout-align="space-between end" flex>
             <div>
                 <md-button style="color: red;" class="md-raised" ng-click="remove(order)">CANCEL ORDER</md-button>
            </div>
            <div>
                <md-button style="color: greenyellow;" ng-click="remove(order)">APPROVED</md-button>
           </div>
           <div>
               <md-button ng-click="remove(order)">NOT APPROVED</md-button>
           </div>
        </div>
        </div>
    </div>
      </md-list-item>
     <md-divider></md-divider>
 </md-list>
</md-content>
